.App {
  text-align: center;
}

.App-header {
  background-image: url('/src/images/grayImg.jpeg');
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

body {
  background-image: url('/src/images/grayImg.jpeg');
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.contenedorItems {
  list-style: none;
  margin: 0;
  padding: 0;
}

.colors {
  background-color: white;
  color: black;
}

.item {
  border-radius: 50px;
  margin: 10px 0;
  background-color: coral;
  padding: 10px 20px;
  display: flex;
  width: 450px;
  align-items: center;
}

.itemLabel {
  text-align: left;
  flex: 1;
}